.slide
  %h1 Being nice with Rack::Cache
  %h3 Иван Осадчий
  %h4 ICS


.slide
  %h1 HTTP кэширование: когда это нужно

  %ul.incremental
    %li slashdot
    %li load times
    %li счет за трафик
    %li счастливые пользователи


.slide
  %h1 HTTP кэширование: когда это нужно

  %ul
    %li выгода
    %li сложность

  %p
    %em отношение выгода / сложность для HTTP кэша весьма велико

